/*cuerpo*/
*{
    padding: 0.5em;
     
}

body {
  background-color: #353A3F;
  font-family: monospace;
}


/*heading*/
header{
  float: left;
  margin: auto;
  width: 100%;
  height: 30em;
}

#inicio{
  text-align: center;
  margin: auto;
}


header {
  border-color:  #33adff;
}

/*logo*/
#logo{
    width: 10em;
    height: 7em;
}

h1{
    font-size: 2.0em;
    font-weight: normal;
    line-height: 0.8em;
    margin: center;
    padding: 0em;
}

h2{
    font-size: 1.5em;
    margin: auto;
    font-weight: normal;
    padding: 0em;
}

h1, h2{
  color: #20AEB0;
}



/*navegacion y links*/
nav{
  text-align: center;
  margin:  20px 0 0;
}

nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0em;
}

nav li{
  display: inline-block;
}

nav a, nav a:visited{
  color:white;
}

nav a:hover{
  color: #0088a6;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 20%;
}

nav a{
  font-weight: 800;
  padding: 15px 10px;
}

/*editar link*/
a{
  text-decoration: none;
}

a{
  color: #2B446D;
}


/*proyectos*/
#sub_t{
  text-align: center;
}

#wrapper{
  text-align: center;
  max-width: 940px;
  max-height: 1100px;
  margin: auto;
  padding: 0 2%;
}


#wrapper img{
    max-width: 48%;
    max-height: 48%;  
    margin: 0% 0% 0% 15%;
}

#bike{
  padding-right: 16%;
}

#fondo_animado{
  padding-right: 16%;
}

#firstgame{
  padding-right: 16%;
}

#galeri li{
  display: inline-block;
  width: 48%;
  height: 48%; 
  padding-top: 20px;
}

#galeri {
  margin: center;
  list-style: none;
}

#galeri li p{
  padding: 5%;
  font-size: 1em;
  color: #11DEC2;
  background-color: #242E3A;
  width: 90%;
  height: 8%;
  text-align:center;
  align-items:center;
}

.rp{
  width: 20px;
  height: 20px;
  margin: 0;
  padding-right: 15%;
  text-align: center;
}


/*acerca de*/
#wrapper_2{
  padding-top: 4em;
  margin: auto;
  max-width: 950px;
  max-height: 550px;
  text-align: center;
}

.foto img{
    width: 150px;
    height: 150px;
    border: 2px solid silver;
    border-radius: 50%;
    display: inline-block;
    padding: 0.5em;
}

h3{
    font-size: 30px;
    color: #4BFFBD;
}

#wrapper_2 p{
    color: #84C6F7;
}

h5{
    height: 2em;
    margin: auto;
    font-size: 2em;
    color: #4BFFBD;
    padding: 0em;
}

.habili img{
    width: 50px;
    height: 50px;
    padding: 0em;
}




/* contacto*/

#wrapper_3{
    margin: auto;
    max-width: 940px;
    max-height: auto;
    font-family: sans-serif;
    text-align: center;
}


h4{
    color: #4BFFBD;
    font-size: 30px;
    text-align: centers;
    padding: 0em;
}


#wrapper_3 img {
    width: 50px;
    height: 50px;
}

#wrapper_3 img.flag {
    width: 15px;
    height: 15px;
    padding: 0em;
}

.contacto{
    max-width: 400px;
    margin: auto;
}

img.izq{
  float: left;
}

img.der{
  float: right;
}

#contac{
    color: #A2C4E8;
    padding: 0em;
}


/*footer*/
footer{
    padding-top: 5em; 
    font-size: 0.80em;
    text-align: center;
    color: grey;
    clear: both;
}

.social{
  width: 20px;
  height: 20px;
  padding: 0 5px;

}

#sololearn, #devchallenges{
    border-radius: 50%;
}



/*/////////////////////////*/


/*animacion  de la barra de navecacion*/
nav {
    background: linear-gradient(150deg, #fff102,  #f10271, #00c298);
    background-size: 400% 300%;
    animation: BgGradient 5s ease infinite;
}


@keyframes BgGradient {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


/*slider*/

.slider{
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slider ul{
  display: flex;
  padding: 0;
  width: 400%;


  animation: cambio 18s infinite alternate;
  animation-timing-function: ease-in;
}

.slider li{
  width: 100%;
  list-style: none;
}

.slider img{
  display: block;
  width: 100%;
  margin: auto;
}


@keyframes cambio{
  0%  {margin-left: 0;}
  30% {margin-left: 0;}

  35% {margin-left: -140%;}
  60% {margin-left: -140%;}
  
  65%  {margin-left: -270%;}
  100% {margin-left: -270%;}
}


/*media*/

@media (max-width: 768px){
  #wrapper{
    max-height: 1400px;
  }

}

